* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 20px 10px 5px;
  background-color: #15aaaa;
}

header {
  font-family: Cambria, "Moefler Text", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  background-color: #1546cc;
  font-style: normal;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  width: 100%;

}

.subtitulo {
  font-family: 'AFranklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #00aeff;
  text-align: center;
  font-style: normal;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.i,
.ii {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.i {
  left: 38%;
}

.ii {
  right: 35%;
}

nav.large {
  width: 100%;
  height: 60px;
  background: #0044ff;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  font-family: Cambria, "Moefler Text", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  background-color: #000000;
  font-style: normal;
}

.pie {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  width: 100%;
}

.copyright{
color: #ffffff;
text-align: center;
padding: 4;
}

/* Estilos para el botón */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #25a6f0;
  color: #070d10ef;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: right;
}

.btn:hover {
  background-color: #070d10ef;
  color: #1e87d2;
}

/* Estilo para el botón de WhatsApp */
#whatsapp-button {
  background-color: #25d366; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-weight: bold; /* Texto en negrita */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
  flex: 1; /* Hace que los botones se ajusten al espacio disponible */
  margin: 5px; /* Agrega un margen para separar los botones */
}

#whatsapp-button:hover {
  background-color: #128c7e; /* Cambio de color al pasar el ratón */
}

#facebook-button {
  background-color: #2556d3; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-weight: bold; /* Texto en negrita */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
  flex: 1; /* Hace que los botones se ajusten al espacio disponible */
  margin: 5px; /* Agrega un margen para separar los botones */
}

#facebook-button:hover {
  background-color: #12678c; /* Cambio de color al pasar el ratón */
}

#youtube-button {
  background-color: #9a0000; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-weight: bold; /* Texto en negrita */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
  flex: 1; /* Hace que los botones se ajusten al espacio disponible */
  margin: 5px; /* Agrega un margen para separar los botones */
}

#youtube-button:hover {
  background-color: #e01313; /* Cambio de color al pasar el ratón */
}

#correo-button {
  background-color: #ffffff; /* Color de fondo del botón */
  color: #000000; /* Color de texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-weight: bold; /* Texto en negrita */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
  flex: 1; /* Hace que los botones se ajusten al espacio disponible */
  margin: 5px; /* Agrega un margen para separar los botones */
}

#correo-button:hover {
  background-color: #545454; /* Cambio de color al pasar el ratón */
}

#instagram-button {
  background-color: #6500a9; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-weight: bold; /* Texto en negrita */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
  flex: 1; /* Hace que los botones se ajusten al espacio disponible */
  margin: 5px; /* Agrega un margen para separar los botones */
}

#instagram-button:hover {
  background-color: #7d00ea; /* Cambio de color al pasar el ratón */
}

#list-contact {
  display: flex;
  flex-wrap: wrap;
}